<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Original Value</th>
    <th scope="col">PipeName</th>
    <th scope="col">AfterTransform</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{LoremValue}}</td>
    <td>uppercase</td>
    <td>{{LoremValue | uppercase}}</td>
  </tr>
  <tr>
    <td>{{zupa}}</td>
    <td>lowercase</td>
    <td>{{zupa | lowercase}}</td>
  </tr>
  <tr>
    <td>{{JsonObject}}</td>
    <td>json</td>
    <td>{{JsonObject | json}}</td>
  </tr>
  <tr>
    <td>{{birthday}}</td>
    <td>date</td>
    <td>{{birthday | date: 'medium'}}</td>
  </tr>
  <tr>
    <td>{{ lorem }}</td>
    <td> snakeCase </td>
    <td>{{ lorem | snakeCase }}</td>
  </tr>
  </tbody>
</table>
<hr>
<div>
  <h3>ngIf</h3>
  <button (click)="isAuthenticated = !isAuthenticated" class="btn btn-success">Primary</button>
  <div *ngIf="isAuthenticated; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>It was TRUE</ng-template>
  <ng-template #elseBlock>It was FALSE :(</ng-template>
</div>

<div class="mx-4">
  <h3>ngFor</h3>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let person of persons">
      {{person}}
    </li>
  </ul>
</div>

<div>
  <h3>Custom Directive</h3>
  <span> appChangeText  </span>
</div>
